/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */
body {
    /*padding-top: 54px;*/
}

/* @media (min-width: 992px) {
    body {
        
    }
} */

h2 {
    margin: 20px;
}

#stars i,
#stars_destacado i {
    font-size: 0.5rem;
    margin: 2px;
    color: #808080;
}

#stars i.selected,
#stars_destacado i.selected {
    color: rgb(23, 141, 251);
}

.img-recomendado {
    width: 825px !important;
    height: 321px !important;
    display: block !important;
}

.img-destacado {
    width: 253px !important;
    height: 145px !important;
    display: block !important;
}

.ico-search {
    background-color: #3490dc !important;
    color: ·fff !important;
    border: 1px solid #3490dc !important;
}

.pagination {
    float: right !important;
}

.container {
    padding-top: 6.5rem !important;
    max-width: 1240px !important;
}

.alert {
    /*padding: 0.35rem 1.25rem !important;
    margin: 0 15px 0 15px !important;*/
}

.navbar-dark .navbar-nav .nav-link {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    margin: 0.05rem !important;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75) !important;
    color: #fff !important;
    background-color: #3490dc !important;
    border-radius: 5px !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    margin: 0.05rem !important;
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 0.75) !important;
    color: #fff !important;
    background-color: #3490dc !important;
    border-radius: 5px !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    margin: 0.05rem !important;
}

.fa-plus-square {
    font-size: 20px !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.no-padding{
    padding: 0 !important;
}